@use "./util";

@function lightMap($color) {
  @return (
    #{$color}: (#{$color}, 40),
    on-#{$color}: (#{$color}, 100),
    #{$color}-container: (#{$color}, 90),
    on-#{$color}-container: (#{$color}, 10)
  );
}

@function darkMap($color) {
  @return (
    #{$color}: (#{$color}, 80),
    on-#{$color}: (#{$color}, 20),
    #{$color}-container: (#{$color}, 30),
    on-#{$color}-container: (#{$color}, 90)
  );
}

$system: (
  light:
    util.map-merge-multi(
      lightMap(primary),
      lightMap(secondary),
      lightMap(tertiary),
      lightMap(error),
      (
        background: (
          neutral,
          99,
        ),
        on-background: (
          neutral,
          10,
        ),
        surface: (
          neutral,
          99,
        ),
        on-surface: (
          neutral,
          10,
        ),
        surface-variant: (
          neutral-variant,
          90,
        ),
        on-surface-variant: (
          neutral-variant,
          30,
        ),
        outline: (
          neutral-variant,
          50,
        ),
        inverse-on-surface: (
          neutral,
          95,
        ),
        inverse-surface: (
          neutral,
          20,
        ),
        inverse-primary: (
          primary,
          80,
        ),
        shadow: (
          neutral,
          0,
        ),
        surface-tint: (
          primary,
          40,
        ),
        outline-variant: (
          neutral-variant,
          80,
        ),
        scrim: (
          neutral,
          0,
        ),
        surface-container-low: (
          neutral,
          95,
        ),
        surface-container-highest: (
          neutral,
          90,
        ),
      )
    ),
  dark:
    util.map-merge-multi(
      darkMap(primary),
      darkMap(secondary),
      darkMap(tertiary),
      darkMap(error),
      (
        background: (
          neutral,
          10,
        ),
        on-background: (
          neutral,
          90,
        ),
        surface: (
          neutral,
          10,
        ),
        on-surface: (
          neutral,
          90,
        ),
        surface-variant: (
          neutral-variant,
          30,
        ),
        on-surface-variant: (
          neutral-variant,
          80,
        ),
        outline: (
          neutral-variant,
          60,
        ),
        inverse-on-surface: (
          neutral,
          10,
        ),
        inverse-surface: (
          neutral,
          90,
        ),
        inverse-primary: (
          primary,
          40,
        ),
        shadow: (
          neutral,
          0,
        ),
        surface-tint: (
          primary,
          80,
        ),
        outline-variant: (
          neutral-variant,
          30,
        ),
        scrim: (
          neutral,
          0,
        ),
        surface-container-low: (
          neutral,
          10,
        ),
        surface-container-highest: (
          neutral,
          20,
        ),
      )
    ),
);
