@use "sass:map";

$elevations: (
  0: (
    rgba(var(--md-sys-color-shadow-channel) / 0.2) 0px 0px 0px 0px,
    rgba(var(--md-sys-color-shadow-channel) / 0.14) 0px 0px 0px 0px,
    rgba(var(--md-sys-color-shadow-channel) / 0.12) 0px 0px 0px 0px,
  ),
  1: (
    rgba(var(--md-sys-color-shadow-channel) / 0.2) 0px 2px 1px -1px,
    rgba(var(--md-sys-color-shadow-channel) / 0.14) 0px 1px 1px 0px,
    rgba(var(--md-sys-color-shadow-channel) / 0.12) 0px 1px 3px 0px,
  ),
  2: (
    rgba(var(--md-sys-color-shadow-channel) / 0.2) 0px 3px 3px -2px,
    rgba(var(--md-sys-color-shadow-channel) / 0.14) 0px 3px 4px 0px,
    rgba(var(--md-sys-color-shadow-channel) / 0.12) 0px 1px 8px 0px,
  ),
  3: (
    rgba(var(--md-sys-color-shadow-channel) / 0.2) 0px 3px 5px -1px,
    rgba(var(--md-sys-color-shadow-channel) / 0.14) 0px 6px 10px 0px,
    rgba(var(--md-sys-color-shadow-channel) / 0.12) 0px 1px 18px 0px,
  ),
  4: (
    rgba(var(--md-sys-color-shadow-channel) / 0.2) 0px 5px 5px -3px,
    rgba(var(--md-sys-color-shadow-channel) / 0.14) 0px 8px 10px 1px,
    rgba(var(--md-sys-color-shadow-channel) / 0.12) 0px 3px 14px 2px,
  ),
  5: (
    rgba(var(--md-sys-color-shadow-channel) / 0.2) 0px 7px 8px -4px,
    rgba(var(--md-sys-color-shadow-channel) / 0.14) 0px 12px 17px 2px,
    rgba(var(--md-sys-color-shadow-channel) / 0.12) 0px 5px 22px 4px,
  ),
);

@mixin elevation($dp) {
  box-shadow: map.get($elevations, $dp);
}

@function elevation-transition($duration: 250ms) {
  @return box-shadow easing(standard-accelerate) $duration;
}

@function easing($ease) {
  @return cubic-bezier(
    var(--md-sys-motion-easing-#{$ease}-x0),
    var(--md-sys-motion-easing-#{$ease}-y0),
    var(--md-sys-motion-easing-#{$ease}-x1),
    var(--md-sys-motion-easing-#{$ease}-y1)
  );
}

@mixin typography($style, $size) {
  font-family: var(--md-sys-typescale-#{$style}-#{$size}-font-family-name);
  font-style: var(--md-sys-typescale-#{$style}-#{$size}-font-family-style);
  font-weight: var(--md-sys-typescale-#{$style}-#{$size}-font-weight);
  font-size: var(--md-sys-typescale-#{$style}-#{$size}-font-size);
  letter-spacing: var(--md-sys-typescale-#{$style}-#{$size}-tracking);
  line-height: var(--md-sys-typescale-#{$style}-#{$size}-height);
  text-transform: var(--md-sys-typescale-#{$style}-#{$size}-text-transform);
  text-decoration: var(--md-sys-typescale-#{$style}-#{$size}-text-decoration);
}
