@use "css/theme";

.offset {
  height: 64px;
}

.appBar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  left: 0;
  height: 64px;
  display: flex;
  box-shadow: var(--md-sys-elevation-0);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-onSurface);
  @include theme.typography(title, large);
  transition:
    box-shadow var(--md-sys-motion-easing-standard)
      var(--md-sys-motion-duration-medium1),
    background-color var(--md-sys-motion-easing-standard)
      var(--md-sys-motion-duration-medium1);
  &.scrolled {
    background-color: var(--md-sys-color-surfaceContainer);
    box-shadow: var(--md-sys-elevation-2);
  }
  .leadingIcon {
    display: flex;
    align-items: center;
  }
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 0;
    vertical-align: middle;
  }
  .trailingIcons {
    display: flex;
    align-items: center;
    color: var(--md-sys-color-onSurfaceVariant);
  }
}
