@use "css/theme";

.appBar {
  display: flex;
  box-shadow: var(--elevation-2);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  height: 64px;
  @include theme.typography(title, large);
  transition: (--elevation-transition) 250ms;
  &.scrolled {
    background-color: var(--md-sys-color-surface-container);
    box-shadow: var(--elevation-2);
  }
  .leadingIcon {
    display: flex;
    align-items: center;
  }
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 0;
  }
  .trailingIcons {
    display: flex;
    align-items: center;
    color: var(--md-sys-color-on-surface-variant);
  }
}
