@use "govuk-frontend/govuk/all" as govuk;

.govuk-header {
  &--app {
    border-bottom: 10px solid govuk.$govuk-brand-colour;
    .govuk-header__container {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
  .govuk-service-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .govuk-header__navigation-item {
      display: inline-block;
      margin-left: auto;
    }
  }
}
