@use "sass:map";
@use "css/util";
@use "govuk-frontend/govuk/settings/colours-palette" as govPalette;

$plain-font: Lato, Roboto, system-ui, sans-serif;
$brand-font: "Josefin Slab", Rockwell, "Rockwell Nova", "Roboto Slab",
  "DejaVu Serif", "Sitka Small", serif;
$mono-font: "Martian Mono", ui-monospace, "Cascadia Code", "Source Code Pro",
  Menlo, Consolas, "DejaVu Sans Mono", monospace;

@use "govuk-frontend/govuk/all" with (
  $govuk-font-family: $plain-font,
  $govuk-brand-colour: map.get(govPalette.$govuk-colours, "purple")
);

@use "css/govuk";

* {
  box-sizing: border-box;
}

body {
  font-family: $plain-font;
}

pre,
code {
  font-family: $mono-font;
}

a.no-underline {
  text-decoration: none;
}
