.picker {
  :global(.react-colorful__pointer) {
    box-shadow: var(--elevation-1);
    background-color: var(--md-ref-palette-neutral95);
    border-color: var(--md-ref-palette-neutral95);
  }
  :global(.react-colorful__saturation) {
    border-radius: var(--md-sys-shape-small) var(--md-sys-shape-small) 0 0;
  }
  :global(.react-colorful__last-control) {
    border-radius: 0 0 var(--md-sys-shape-small) var(--md-sys-shape-small);
  }
  &Surface {
    overflow: visible;
    border-radius: var(--md-sys-shape-medium);
    padding: 16px;
  }
}
