:global(.react-colorful).picker {
  margin: 16px;
  width: 256px;
  height: 256px;
  :global(.react-colorful__hue) {
    order: -1;
    border-radius: var(--md-sys-shape-corner-medium);
    margin-bottom: 16px;
  }
  :global(.react-colorful__pointer) {
    box-shadow: var(--md-sys-elevation-1);
    background-color: var(--md-ref-palette-neutral-95);
    border-color: var(--md-ref-palette-neutral-95);
  }
  :global(.react-colorful__saturation) {
    border-radius: var(--md-sys-shape-corner-medium);
  }
}
