@use "css/util";

.actions {
  display: flex;
  gap: 10px;
  padding: 15px 0;
}

.thumbnailContainer {
  max-width: 480px;
  .thumbnail {
    position: relative;
    @include util.aspect-ratio(16, 9);
    margin-bottom: 15px;
  }
}
